{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="product-filters">
        {{ include('product/_filter_form.html.twig', {'button_label': 'Search'}) }}
    </div>

    <div class="content">
        {{ include('Components/IndexComponents/all-products.html.twig') }}
    </div>
{% endblock %}
