{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %} {# Сделать тут слаг #}

{% block body %}
    <h1>{{ product.name }}</h1>

    <div class="content">
        {{ include('Components/ShowComponents/product.html.twig') }}

        <p id="new-record">
            <a href="{{ path('app_order_new', {product: product.id}) }}">Buy</a>
        </p>
    </div>
{% endblock %}

