@import '~bootstrap/scss/bootstrap';

@import "head";
@import "body";

body {
  background-color: #1e1e1e;
}

#new-record {
  margin-top: auto;
  margin-bottom: 6px;
  margin-left: auto;
  color: #f2f2f2;

  a {
    color: #f2f2f2;
    text-decoration: none;
    border-radius: 15px;
    padding: 4px;
    background-color: #111;

    &:hover {
      background-color: #555655;
    }
  }
}