{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h1>Orders</h1>
    <div class="content">
        {{ include('Components/IndexComponents/all-orders.html.twig') }}
    </div>
{% endblock %}
