{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orders</h1>
    <div class="content">
        <div id="no-found-results">
            Oops! There is no such page
        </div>
    </div>
{% endblock %}