{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orders</h1>
    <div class="content">
        <div id="no-found-results">
            Oops! At the moment we are solving this problem!
        </div>
    </div>
{% endblock %}