{% extends 'base.html.twig' %}

{% block title %}Addresses{% endblock %}

{% block body %}
    <h2>Addresses</h2>

    <div class="content">
        {{ include('Components/IndexComponents/all-addresses.html.twig') }}

        <p id="new-record">
            <a href="{{ path('app_address_new') }}">Create new</a>
        </p>
    </div>
{% endblock %}
