{% extends 'base.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <div class="form-content">
        <div id="input-form">
            <h1 class="h3 mb-3 font-weight-normal">Create new Address</h1>

            {{ include('address/_form.html.twig') }}

            <p id="new-record">
                <a href="{{ path('address_index') }}">back to list</a>
            </p>
        </div>
    </div>
{% endblock %}
